* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #c72092, #6c14d0);
    border-radius: 10px;
}

body {
    padding: 0px !important;
}

.contain {
    width: 100% !important;
    margin-top: 0px;
}

.header {
    margin-top: 100px;
    width: 100%;
    height: 800px;
}


/* Nav Bar*/
nav {
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px 0px 0px 0px;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.6);
    width: 100%;
    top: -3px;
    background-color: white;
}

.ulForNav {
    align-self: end;
    display: flex;
    justify-content: center;
}

.ulForNav li {
    color: black;
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    /* font-size: 20px; */
}

.contain li a {
    text-decoration: none;
    color: black;
}


.active {
    color: #c72092 !important;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #c72092 !important;
}

.active1 {
    color: #c72092 !important;
    position: relative;
    padding-bottom: 15px;
}


.ulForI {
   
    margin-bottom: 0px;
}

.ulForI li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.ulForI li svg {
    font-size: 20px;
}

.header nav h1 {
    color: rgb(199, 32, 146);
    font-weight: bold;
}

.header nav h1 span {
    color: #6c14d0;
    text-decoration: underline;
}

.header li a:hover,
.header li:hover {
    color: #6c14d0;
    cursor: pointer;
}



/*Header Content*/

.mid {
    background-image: url("../image/bg1.png") ;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 10px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.mid h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: bold;
    color: #6c14d0;
}

.mid h1 span {
    display: block;
    font-size: 80px;
    color: #c72092;
    font-family: sans-serif;
}

.mid .text {
    width: 600px;
    height: 100%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mid a {
    text-decoration: none;
    color: white;
}


.image {
    display: flex;
    align-items: start;
}


.mid .image img {
    width: 500px;
    height: 600px;
}

.shop {
    background: linear-gradient(to right, #c72092, #6c14d0);
}

.icong {
    transition: all .5s;
}

.shop:hover .icong {
    transform: translate(10px);
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #eee;
    width: fit-content;
    position: fixed;
    top: 40%;
    right: 0;
    font-size: 30px;
}

.aside .facebook:hover,
.aside .twitter:hover,
.aside .instagram:hover,
.aside .linkedin:hover {
    color: #c72092;
    cursor: pointer;
}

.menu {
    background-color: #7d7d7d;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: none;
}

.menu span {
    display: block;
    line-height: .6;
    font-weight: bold;
    font-size: 20px;
}

.menu .dash {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.menu:hover {
    border: 2px solid #6c14d0;
}

.menu:hover ul {
    display: block;
}

.menu ul {
    display: none;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    margin-left: -20px;
    width: 100px;
    background-color: #ddd;
}

.menu ul li {
    display: block;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width:420px) {

    .menu:hover ul {
        width: 75px;
        margin-top: 5px;
        margin-left: -25px;
        font-size: 12px;
    }


    .mid .image img {
        width: 50px;
        height: 100px;
    }

    .mid {
        background-image: url("../image/bg1.png") !important;
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vm;
    }

    .mid .text {
        font-size: 10px;
    }

    .last {
        margin-right: -50% !important;
    }

    .services {
        margin-right: -100px !important;
        margin-left:0px ;
    }

    .services .txt h1 {
        font-size: 45px !important;
        margin-right:-230px ;
    }

    .services .icons .i {
        font-size: 30px;
        margin-right: -230px;
        padding: 100px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .services .icons .i p{
        width: 70%;
    }

   
}


@media (min-width:677px) and (max-width:768px) {
    .mid .image img {
        width: 200px;
        height: 300px;
    }

    .mid .text {
        width: 300px;
    }

    .wAbout .options .visible img {
        width: 300px;
        height: 300px;
    }

    .wAbout .options .visible {
        width: 400px;
        height: 500px;
    }
}

@media (max-width:676px) {
    .ulForNav {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu:hover {
        border: 2px solid #6c14d0;
    }

    .menu:hover ul {
        display: block;
    }

    .mid .image img {
        width: 200px;
        height: 200px;
    }

    .last {
        margin: auto;
    }

    .last h1 {
        font-size: 45px !important;
    }

    .last .wAbout .text {
        width: 400px;
        font-size: 20px;
    }

    .wAbout .options .visible img {
        width: 200px;
        height: 200px;
    }

    .wAbout .options .visible {
        width: 300px;
        height: 400px;
    }

    .wAbout .options .opt .optimg {
        width: 100px;
        height: 75px;
    }

    .wAbout .options img {
        width: 50px;
        height: 50px;
    }

    .footer_main{
        margin-right: -10px;
        width: 300vm;
    }
    
}


@media (min-width:677px) and (max-width:768px) {
    .mid .image img {
        width: 200px;
        height: 300px;
    }

    .mid .text {
        width: 300px;
    }

    .wAbout .options .visible img {
        width: 300px;
        height: 300px;
    }

    .wAbout .options .visible {
        width: 400px;
        height: 500px;
    }

}


@media (min-width:421px) and (max-width:991px) {
    .services .icons .i {
        font-size: 40px !important;
    }

    .services .icons h5 {
        font-size: 15px !important;
    }

    .services .icons p {
    
        width: 55%;
    }

    .services {
        margin-right: -50%;
    }
}


@media (max-width:992px) {
    .mid {
        /* background-image: url("../image/bg1.png") !important; */
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
        width: 90% !important;
        margin: 10px auto !important;
        height: 700px !important;
    }

    .mid .image img {
        width: 300px;
        height: 400px;
    }

    .mid h1 {
        font-size: 50px;
    }

    .mid h1 span {
        font-size: 40px;
    }

    .mid .text {
        width: 450px;
    }

    .mid .btn {
        width: 150px !important;
    }

    .aside {
        font-size: 15px !important;
    }

    .login .img img{
        width: 200px !important;
        height: 300px !important;
    }

    .aside{
        font-size: 15px;
    }

    .form{
        width: 300px;
    }
    
    .form label {
        font-size: 15px !important;
    }

    .form .email{
        width: 300px !important;
        font-size: 15px !important;
    }
    .form .email :first-child{
        padding-left: 10px !important;
    }
    .form .email :last-child{
        padding-left: 10px !important;
    }
    .form .pass{
        width: 300px !important;
        font-size: 15px !important;
    }
    .form .pass :first-child{
        padding-left: 10px !important;
    }
    .form .pass :last-child{
        padding-left: 10px !important;
    }

    .end{
        width: 300px !important;
    }
    .end :first-child{
        font-size: 15px !important;
    }

    .Licon a{
        width: 25px !important;
        height: 25px !important;
        box-shadow: 0px 0px 3px 1px #7d7d7d;
    }
    .Licon a img{
        width: 15px !important;
        height: 15px !important;
    }   

    footer .footer_main .tag .search_bar input {
        width: 94px !important;
    }
    footer .footer_main .tag .search_bar {
        width: 100px !important;
    }
}

@media (min-width:990px)and(max-width:1265px) {
    .services .txt h1 {
        font-size: 45px !important;
    }
}


@media (min-width:436px) and (max-width:515px){
    .login{
    background-size: 422px 400px !important;
    }
    footer .footer_main {
        width: 130% !important;
    }
}

@media (max-width:435px){
    footer .footer_main {
        width: 180% !important;
    }
}

/*About*/

.last h1 {
    color: black;
    width: 100%;
    text-transform: uppercase;
    margin: 50px auto;
    font-size: 90px;
    display: flex;
    justify-content: center;
}

.last span {
    padding-left: 10px;
    background: linear-gradient(to right, #6c14d0, #c72092);
    -webkit-background-clip: text;
    color: transparent;
}

.wAbout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.wAbout img {
    width: 80px;
    height: 80px;
}

.wAbout .text {
    width: 600px;
    border: 1px solid #c72092;
    height: 500px;
    box-shadow: 0 0 6px 1px #c72092;
    color: #6c14d0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: 50px;
}




.wAbout .text p {
    padding: 40px;
}

.wAbout .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wAbout .visible {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 5px #6c14d0;
    width: 550px;
    height: 450px;
    border: 1px solid #6c14d0;
    border-radius: 30px;
    transition: all .5s;
}

.wAbout .visible img {
    width: 400px;
    height: 400px;
}

.wAbout .opt .optimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6c14d0, #c72092);
    margin: 20px;
    border: 1px solid #6c14d0;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    opacity: .5;
    transition: .5s;
}

.wAbout .opt .optimg:hover {
    opacity: 1;
    cursor: pointer;
}


.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.now {
    margin: 50px auto !important;
    outline: 2px solid #c72092;
    box-shadow: 0 0 10px 5px #c72092;
    border-radius: 8px;
    z-index: 99;
}

.last button:hover {
    transition: all .5s;
    color: white !important;
    background-color: #c72092;
}

.services {
    text-align: center;
}


.services .txt h1 {
    font-size: 95px;
    text-transform: uppercase;
}

.services .txt h1 span {
    background: linear-gradient(to right, #6c14d0, #c72092);
    -webkit-background-clip: text;
    color: transparent;
}

.icons {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.i {
    font-size: 70px;
    color: orange;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0px;
    align-items: center;
    text-align: center;
}

.i p {
    font-size: 20px;
    width: 300px;
    color: #7d7d7d;
}

.login {
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: url("../image/loging_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login .img {}

.login .img img {
    width: 650px;
    height: 650px;
}

.form form label,
input {
    display: block;
    font-size: 20px;
}

.form {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.form form .email,
.form form .pass {
    border-radius: 5px;
    border: 3px solid #6c14d0;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #c72092;
    margin-top: 10px;
}


.form form .email input,
.form form .pass input {
    margin: auto;
    border: none;
    width: 350px;
    outline: none;
    border-radius: 5px;
    background: transparent;
}

.end {
    width: 400px;
    align-items: end;
    display: flex;
    flex-direction: column;
}

.end p {
    font-size: 18px;
    cursor: pointer;
}

.end button {
    background: linear-gradient(to right, #6c14d0, #c72092);
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin: 15px auto;
    height: 40px;
    border-radius: 5px;
}

.Licon {
    display: flex;
    align-items: center;
}

.Licon a img {
    width: 30px;
    height: 30px;
}

.Licon a {
    /* background: white; */
    text-decoration: none;
    background-color: white;
    margin: 0px auto;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
}

footer .footer_main {
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag {
    margin: 10px 0;
}

footer .footer_main .tag .center {
    text-align: center;
}

footer .footer_main .tag h1 {
    font-size: 25px;
    margin: 25px 0;
    color: #1c0080;
}

footer .footer_main .tag a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 1px;
}

footer .footer_main .tag a i {
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover {
    color: #c72092;
}

footer .footer_main .tag .social_link {
    display: flex;
}

footer .footer_main .tag .social_link a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands {
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i {
    color: white;
}

footer .footer_main .tag .social_link a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092, #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after {
    left: 0;
}

footer .footer_main .tag .search_bar {
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input {
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button {
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092, #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
